*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container{
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.inner-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}

.title-header{
  font-size: 2.5em;
  margin-bottom: 0.8rem;
}

.title-content{
  font-size: 1em;
  margin-bottom: 0.8rem;
}

.textarea{
  width: 35vw;
  height: 30vh;
  overflow: none;
  outline: none;
}

.output-container{
  background-color: #fff;
  padding: 1rem;
  width: 20vw;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 4px 8px rgba(0, 0, 0, 0.19);

}

.word-character-title{
  border-bottom: 1px solid #f2f2f2;
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;

}
 .output-box{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #f2f2f2;
}

/* .output-box{
  text-align: center;
  color: white;
}

.output-box span{
  font-size: 2em;
} */



@media screen and (max-width: 600px){

  .container{
    flex-direction: column;
    padding: 1rem; 
  }

  .inner-container{
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
  }

  .input-container{
    order: 2;
  }


  .output-container{
    order: 1;
    width: 100%;
  }

  .textarea{
    width: 100%;
  }
}